body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #4a148c, #d5006d); /* Gradient background */
    /* Alternatively, you can use a background image */
    /* background-image: url('your-fantasy-background-image.jpg'); */
    /* background-size: cover; */
    /* background-position: center; */
    font-family: Arial, sans-serif;
    color: white; /* Change text color to white for better contrast */
}

.fb-img {
    margin-bottom: 20px; /* Space below the image */
}
